

<main>
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
<div class="create-user-container">
    <h2>Créer un nouvel utilisateur</h2>
    <form method="POST">
        <label for="username">Identifiant :</label>
        <input type="text" name="username" id="username" required>

        <label for="name">Nom :</label>
        <input type="text" name="name" id="name" required>

        <label for="password">Mot de passe :</label>
        <input type="password" name="password" id="password" required>

        <label for="role">Rôle :</label>
        <select name="role" id="role" required>
            <option value="technicien">Technicien</option>
            <option value="ingenieur">Ingénieur</option> 
        </select> <br> <br> 
       
        <button type="submit">Créer</button>
    </form>
</div>
{% endblock %}
</main>
<footer>
    <p>&copy; 2024 Gestion des Fluides. Tous droits réservés.</p>
</footer>
