<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestion des Fluides Medicaux{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index.index') }}">Accueil</a></li>
                <li><a href="{{ url_for('data_routes.get_all_data') }}">Données Fluides</a></li>
                <li><a href="{{ url_for('image_routes.get_all_images') }}">Plans</a></li>
                <li><a href="{{ url_for('report_routes.get_all_reports') }}">Rapports</a></li>
                <li><a href="{{ url_for('credits_routes.credits') }}">À propos</a></li>

                 <!-- Affichage du nom et rôle de l'utilisateur connecté -->
                 {% if 'user_id' in session %}
                    <li class="user-info">
                        <span>Connecté en tant que {{ session['role'] }} : {{ session['name'] }}</span> <!-- Affiche le nom -->
                    </li>
                {% endif %}

                <li class="logout">
                    <a href="{{ url_for('auth_routes.logout') }}">Déconnexion</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div id="flash-messages">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        {% block scripts %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Gestion des Fluides. Tous droits réservés.</p>
    </footer>
</body>
</html>
