{% extends 'base.html' %}

{% block content %}
    <div class="about-container">
        <h1>À propos</h1>
        <p>
            Bienvenue dans notre application, conçue pour moderniser la gestion et la surveillance des réseaux de distribution de fluides médicaux. Ce projet ambitieux propose une solution technologique innovante pour optimiser le suivi en temps réel, détecter rapidement les anomalies, et garantir une gestion proactive des ressources critiques dans les établissements de santé.
        </p>
        <p>
            Ce projet a été réalisé par <strong>Mlle. Idiatou DIALLO</strong> dans le cadre de son projet de fin d’études pour l’obtention du Master 2 Génie biomédical. 
            Nous avons pu bénéficier d’un soutien technique de <strong>M. Vigni Pierida Koumba Koumba</strong> (Ingénieur biomédical), et de l'encadrement bienveillant du <strong>Colonel Edouard BADJI</strong>. 
            Nous avons également bénéficié du suivi et du soutien technique de l’entreprise <strong>AFSI</strong>, qui ont grandement contribué à la réussite de cette initiative.
        </p>
        <p>
            Grâce à l’intégration de technologies modernes, telles qu’Arduino et des capteurs intelligents, cette application offre une interface conviviale et performante pour répondre aux besoins spécifiques des professionnels de la santé. 
            Notre priorité est d'améliorer la sécurité des patients, d'optimiser les ressources médicales, et de rendre les systèmes de gestion plus fiables et accessibles.
        </p>
        <p>
            Nous exprimons notre profonde gratitude au <strong>Colonel Edouard BADJI</strong> et <strong>Vigni Pierida Koumba Koumba</strong> pour leur expertise et leur accompagnement tout au long de ce projet, ainsi qu’à nos encadrants académiques et industriels.
        </p>
        <p>
            Merci d’utiliser notre application et de contribuer à une meilleure gestion des ressources.
        </p>
    </div>
{% endblock %}
